{% extends 'base.html' %}

{% block content %}

<div class="container">
    <br>
    <h1> Bio </h1>
    <br>

    <p>
        With the right set of mind and a mix of passion & love, IRONhart is slowly conquering the hearts and ears of many music lovers! A devoted father, clever lab manager and keen art lover: as fast as he switches personalities, as eclectic he crafts his emotive selections and ethereal expressions. Loving all spectrums of Deep House, Tech House and Techno, he found his finesse mainly in the melodic and melancholic atmospheres.
        Unimaginable that once IRONhart turned his back to the electronic music cosmos, after being active from his late teenage years to his mid twenties. Eventually karma pushed him back onto the decks! A determined and welcoming mind is now more than ready to blast beautiful tunes into the world. Music made for beings who have an empathetic heart, following a conscious lifestyle and above all for souls that come together in peace to enjoy every single piece this stunning globe has to offer us!
    </p>

    <p>
        <img class="img_adjust" src="{{ url_for('static', filename='images/Gerwin.jpg') }}" width="600">
        
    </p>

</div>

{% endblock %}