{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <h1> Dives Deep Mixes </h1>
    <br>
    <div class="row">
        <div class="column">
            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-1" target="_blank">
                <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 1.jpeg') }}", class="rounded float-start" height="450" width="450"> </a>
            
            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-2" target="_blank"> 
                <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 2.jpeg') }}", class="rounded float-end" height="450" width="450"> </a>
            
            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-3" target="_blank">
                <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 3.jpeg') }}", class="rounded float-start" height="450" width="450"> </a>

            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-4" target="_blank"> 
                <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 4.jpeg') }}", class="rounded float-end" height="450" width="450"> </a>
            
            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-5" target="_blank"> 
                <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 5.jpeg') }}", class="rounded float-start" height="450" width="450"> </a>

            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-6" target="_blank"> 
            <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 6.jpeg') }}", class="rounded float-end" height="450" width="450"> </a>
           
            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-7" target="_blank"> 
                <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 7.jpeg') }}", class="rounded float-start" height="450" width="450"> </a>

            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-8" target="_blank"> 
                <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 8.jpeg') }}", class="rounded float-end" height="450" width="450"> </a>
            
            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-9" target="_blank"> 
                <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 9.jpeg') }}", class="rounded float-start" height="450" width="450"> </a>
            
            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-10" target="_blank"> 
                <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 10.jpeg') }}", class="rounded float-end" height="450" width="450"> </a>

            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-11" target="_blank"> 
                <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 11.jpeg') }}", class="rounded float-start" height="450" width="450"> </a>

            <a href="https://soundcloud.com/ironhartnl/ironhart-dives-deep-part-12" target="_blank"> 
                <img src="{{ url_for('static', filename='images/Dives Deep/IRONhart - Dives Deep Part 12.jpeg') }}", class="rounded float-end" height="450" width="450"> </a>
        </div>
        
    </div>



{% endblock %}